---
import CardDiscover from "./CardDiscover.vue";
---

<section id="section-discover" class="section-discover section-wrapper">
    <section
        class="section-discover-header flex flex-col justify-center items-center center text-center"
    >
        <div class="mt-12 lg:mt-16">
            <h2 class="text-xl md:text-3xl font-bold">
                Descubre por qué deberías
            </h2>
            <h2 class="text-xl md:text-3xl font-bold">
                elegir PetBic para el cuidado de tus mascotas
            </h2>
        </div>
        <div class="mt-4 md:mt-8 lg:mt-12">
            <p class="text-lg lg:text-xl">
                En PetBic, no solo proporcionamos monitoreo, sino una
                experiencia completa para el cuidado de tus adorables compañeros
                peludos.
            </p>
            <p class="text-lg lg:text-xl">
                Aquí tienes seis razones convincentes para hacer de PetBic tu
                primera opción:
            </p>
        </div>
    </section>

    <section
        class="section-discover-cards flex flex-wrap justify-center mt-10 mb-10 gap-6"
    >
        <CardDiscover
            client:load
            image="/img/dog-image.png"
            title="Información general"
            secondTitle="instantánea"
            infoText="Accede a información detallada sobre tus mascotas de un vistazo. Desde datos médicos hasta detalles de identificación, ten toda la información crucial sobre tus amigos peludos al alcance de tus manos."
        />
        <CardDiscover
            client:load
            image="/img/food-image.png"
            title="Registra"
            secondTitle="la dieta perfecta"
            infoText="Mantén un registro detallado del crecimiento y desarrollo de tus mascotas. Con Petbic, puedes medir y comparar fácilmente sus dimensiones a lo largo del tiempo, asegurando que estén en óptimas condiciones de salud."
        />
        <CardDiscover
            client:load
            image="/img/cat-image.png"
            title="Comportamiento"
            secondTitle="bajo control"
            infoText="¿Quieres entender mejor a tus mascotas? Registra y analiza sus comportamientos diarios. Desde hábitos de juego hasta momentos de tranquilidad, Petbic te ayuda a mantener el equilibrio perfecto en sus vidas."
        />
        <CardDiscover
            client:load
            image="/img/dog3-image.png"
            title="Mediciones "
            secondTitle="que importan"
            infoText="Mantén un registro detallado del crecimiento y desarrollo de tus mascotas. Con Petbic, puedes medir y comparar fácilmente sus dimensiones a lo largo del tiempo, asegurando que estén en óptima salud."
        />
        <CardDiscover
            client:load
            image="/img/dog2-image.png"
            title="Peso saludable,"
            secondTitle="mascota feliz"
            infoText="El peso es un indicador clave de la salud de tu mascota. Registra y sigue el peso de tus amigos peludos para asegurarte de que estén en óptima forma física y lleven vidas más felices y activas."
        />
        <CardDiscover
            client:load
            image="/img/dog-cat-image.png"
            title="Toda la información"
            secondTitle="en un solo lugar"
            infoText="¿Te sientes abrumado con múltiples aplicaciones para diferentes aspectos del cuidado de mascotas? Con Petbic, centraliza todos los datos en un solo lugar. Simplifica tu vida y brinda a tus mascotas el cuidado integral que se merecen."
        />
    </section>
</section>
