<section class="section-wrapper">
    <section class="section-discover-header flex flex-col justify-center items-center center text-center">
        <div class="mt-12 lg:mt-16">
            <h2 class="text-3xl font-bold">Discover why you should</h2>
            <h2 class="text-3xl font-bold">
                choose PetBic for the Care of your Pets
            </h2>
        </div>
        <div class="mt-8 lg:mt-12">
            <p class="text-lg lg:text-xl">
                At PetBic, we not only provide monitoring but a complete
                experience for the care of your adorable furry companions.
            </p>
            <p class="text-lg lg:text-xl">
                Here are six compelling reasons to macek PetBic your number ons
                choice:
            </p>
        </div>
    </section>

    <section class="section-discover-cards flex flex-wrap justify-center mt-10 mb-10 gap-6">
        <article class="bg-[url('/img/dog-image.png')] overflow-hidden bg-cover rounded-2xl cursor-pointer h-96 group w-[42rem]">
         <p class="absolute my-10 ml-8 text-3xl">Instant General </br>Information.</p> 
            <div class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-violet-800/60 group-hover:opacity-100">
                <h2 class="mt-4 text-xl font-semibold text-white">
                    Access detailed information about your pets at glance. From
                    medical data to identificacion details, hace all the crucial
                    infromation about your furry firends at your fingertips.
                </h2>
            </div>
        </article>

        <article class="bg-[url('/img/food-image.png')] overflow-hidden bg-cover rounded-2xl cursor-pointer h-96 group w-[42rem]">
         <p class="absolute my-10 ml-8 text-3xl">Record </br>the perfect diet.</p> 
            <div class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-violet-800/60 group-hover:opacity-100">
                <h2 class="mt-4 text-xl font-semibold text-white">
                    Keep a detailed record of the growth and development of your
                    pets. With Petbic, you can easily measure and compare their
                    dimensions over time, ensuring they are in th best health.
                </h2>
            </div>
        </article>

        <article class="bg-[url('/img/cat-image.png')] overflow-hidden bg-cover rounded-2xl cursor-pointer h-96 group w-[42rem]">
         <p class="absolute my-10 ml-8 text-3xl">Behavior </br>under control.</p> 
            <div class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-violet-800/60 group-hover:opacity-100">
                <h2 class="mt-4 text-xl font-semibold text-white">
                    Want to understand your pets better? Record and analyze
                    their daily behaviors. From playtime habits to moments of
                    calmness, Petbic helps you maintain the perfect balance in
                    their lives.
                </h2>
            </div>
        </article>

        <article class="bg-[url('/img/dog3-image.png')] overflow-hidden bg-cover rounded-2xl cursor-pointer h-96 group w-[42rem]">
         <p class="absolute my-10 ml-8 text-3xl">Measurements </br>that matter.</p> 
            <div class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-violet-800/60 group-hover:opacity-100">
                <h2 class="mt-4 text-xl font-semibold text-white">
                    Keep a detailed record of the growth and development of your
                    pets. With Peetbic, you can easily measure and compare their
                    dimensions over time, ensuring they are in the best health.
                </h2>
            </div>
        </article>

        <article class="bg-[url('/img/dog2-image.png')] overflow-hidden bg-cover rounded-2xl cursor-pointer h-96 group w-[42rem]">
         <p class="absolute my-10 ml-8 text-3xl">Healthy weight </br>happy pet.</p> 
            <div class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-violet-800/60 group-hover:opacity-100">
                <h2 class="mt-4 text-xl font-semibold text-white">
                    Weight is a key indicator of your pet's health. Record and
                    track the weight of your furry friends to ensure they are in
                    optimal physical shape and lead happier, more active lives.
                </h2>
            </div>
        </article>

        <article class="bg-[url('/img/dog-cat-image.png')] overflow-hidden bg-cover rounded-2xl cursor-pointer h-96 group w-[42rem]">
         <p class="absolute my-10 ml-8 text-3xl font-medium">All the information</br>in one place.</p> 
            <div class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-violet-800/60 group-hover:opacity-100">
                <h2 class="mt-4 text-xl font-semibold text-white">
                    Feeling overwhelmed with multiple app for different aspects
                    of pet care? Wtih Petbic, centralize all the data in one
                    place. Simplify your life and give your pets the
                    comprehensive care they deserve.
                </h2>
            </div>
        </article>
    </section>
</section>
<!-- NOTES: all images are temporal. It's the first iteration-->


