<section class=" section-wrapper">
    <div class="flex flex-col justify-center items-center center text-center">
    <div class="mt-12 lg:mt-16">
    <h2 class="text-3xl font-bold">Discover why you should</h2>
    <h2 class="text-3xl font-bold">choose PetBic for the Care of your Pets</h2>
    </div>
    <div class="mt-8 lg:mt-12">
        <p class="text-lg lg:text-xl font-bold">At PetBic, we not only provide monitoring but a complete experience for the care of your adorable furry companions.</p>
        <p class="text-lg lg:text-xl font-bold">Here are six compelling reasons to macek PetBic your number ons choice:</p>
    </div>
    </div>
</section>