---
import CardFaq from "./CardFaq.vue";
---

<section class="section-faq">
    <section
        class="section-faq-header mx-12 lg:mx-28 flex flex-col justify-center items-center text-center"
    >
        <div class="mt-12 lg:mt-16">
            <h2 class="text-xl md:text-4xl font-bold">FAQ</h2>
            <h2 class="text-sm md:text-xl my-2 md:my-4 lg:my-8">
                User-Friendly Interface: Navigate the app effortlessly with a
                simple and intuitive design.
            </h2>
        </div>
    </section>
    <section class="sectiont-faq-cards flex flex-col gap-1">
        <CardFaq
            client:load
            title="User-Friendly Interface: Navigate the app effortlessly with a simple and intuitive design"
            description="User-Friendly Interface: Navigate the app effortlessly with a simple and intuitive design."
        />
        <CardFaq
            client:load
            title="User-Friendly Interface: Navigate the app effortlessly with a simple and intuitive design"
            description="User-Friendly Interface: Navigate the app effortlessly with a simple and intuitive design."
        />
        <CardFaq
            client:load
            title="User-Friendly Interface: Navigate the app effortlessly with a simple and intuitive design"
            description="User-Friendly Interface: Navigate the app effortlessly with a simple and intuitive design."
        />
        <CardFaq
            client:load
            title="User-Friendly Interface: Navigate the app effortlessly with a simple and intuitive design"
            description="User-Friendly Interface: Navigate the app effortlessly with a simple and intuitive design."
        />
    </section>
</section>
