---
import FooterTemplate from "./FooterTemplate.vue";
---

<section
    class="section-footer bg-gradient-to-r from-[#097DE0] via-[#333C76] via-0%
to-[#542F79] to-100%"
>
    <FooterTemplate title="Section" link="link section" />

    <div class="section-footer-info flex flex-col text-white">
        <p
            class="section-footer-info-date flex justify-center text-sm md:text-xl"
        >
            ©2024 Petbic Todos los derechos reservados.
        </p>
        <div
            class="section-footer-info-text flex flex-row gap-4 justify-center text-[10px] md:text-lg"
        >
            <p>Privacidad</p>
            <p>Politica de cookies</p>
            <p>Avisos legales</p>
            <p>Accesibilidad</p>
        </div>
    </div>
    <div
        class="section-footer-img
            h-[450px]
            w-full
            relative
            overflow-hidden
            block
            bg-[url('/backgrounds/img-footer.png')]
            bg-cover
            bg-no-repeat
            bg-center
            before:content-['']
            before:absolute
            before:inset-0
            before:block
            before:bg-gradient-to-r from-[#097DE0] via-[#333C76] via-0% to-[#542F79] to-100%
            before:z-[-5]"
    >
    </div>
</section>
