---
import { Image } from "astro:assets";
import petbicMenuLogo from "../assets/petbic-menu-logo.svg";
import ModalIframe from "./ModalIframe.astro";
const urlMail = import.meta.env.URL_MAIL;
---

<section class="section-wrapper">
  <header
    class="flex flex-wrap md:justify-start md:flex-nowrap bg-white text-sm py-4 rounded-lg"
  >
    <nav
      class="max-w-full mx-auto md:px-8 flex flex-wrap basis-full items-center justify-between"
    >
      <a
        class="sm:order-1 flex-none text-xl font-semibold dark:text-black"
        href="/#"
      >
        <Image src={petbicMenuLogo} alt="Una descripción de mi imagen." />
      </a>
      <div class="sm:order-3 flex items-center gap-x-2">
        <ModalIframe iframeSrc={urlMail} text="Únete a la lista de espera" />
      </div>
      <div
        id="navbar-alignment"
        class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:grow-0 sm:basis-auto sm:block sm:order-2"
      >
        <div
          class="flex flex-col gap-6 mt-5 sm:flex-row sm:items-center sm:mt-0 sm:ps-5"
        >
          <a
            class="font-medium text-gray-600 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            href="/#section-discover"
            aria-current="page">Acerca de Petbic</a
          >
          <a
            class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            href="/#section-who-we-are">Sobre nosotros</a
          >
          <!-- <a
            class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            href="#section-faq">FAQ</a
          > -->
          <a
            class="font-medium= text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            href="/blog">Blog</a
          >
        </div>
      </div>
    </nav>
  </header>
</section>
