<section
    class="section-hero
            w-full
            relative
            overflow-hidden
            block
            bg-[url('/backgrounds/wave.png')]
            bg-cover
            bg-no-repeat
            bg-center
            before:content-['']
            before:absolute
            before:inset-0
            before:block
            before:bg-gradient-to-r from-[#097DE0] via-[#4158D0] via-0% to-[#893CD7] to-100%
            before:z-[-5]"
>
    <div
        class="section-hero-container flex flex-col text-justify items-center md:flex-row md:text-left section-wrapper"
    >
        <div
            class="section-hero-container-text flex-col mt-12 md:w-2/3 lg:mt-24 md:flex-row"
        >
            <h1
                class="flex items-center text-2xl pb-2 md:text-4xl lg:text-6xl text-white font-bold md:pb-8"
            >
                Bienvenido a
                <img
                    src="/img/petbic-title-logo.svg"
                    class="px-2 md:px-4  lg:pl-6 w-24 sm:w-32 md:w-40 lg:w-52"
                />
            </h1>
            <p class="text-sm lg:text-lg text-white font-bold pb-3 lg:pb-6">
                Descubre la clave para fortalecer tu vínculo con tu compañero
                peludo en Petbic, donde tienes el control total de la
                información de tu mascota al alcance de tu mano.
            </p>
            <p class="text-sm lg:text-lg text-white font-bold pb-3 lg:pb-6">
                PetBic cubre todas las dimensiones del cuidado de mascotas. Toma
                decisiones informadas sobre nutrición, medidas y bienestar
                general. Con Petbic, accede a datos y análisis para mejorar la
                calidad de vida de tu amigo peludo.
            </p>
            <p class="text-sm lg:text-lg text-white font-bold pb-3 lg:pb-6">
                Emprende la experiencia PetBic y brinda a tu mascota el cuidado
                que se merece.
            </p>
            <div class="flex my-2">
                <button
                    class="py-2 px-3 inline-flex items-center gap-x-2 md:px-8 text-sm text-white font-bold rounded-full bg-gradient-to-r from-[#230DE0] via-[#FFCC70] via-0% to-[#FA709A] to-100%"
                >
                    Únete a la lista de espera
                </button>
            </div>
        </div>

        <div
            class="section-hero-container-image flex w-52 md:w-2/5 md:mt-44 md:justify-end"
        >
            <img src="/img/mockup-movil-hero.png" alt="mockup hero" />
        </div>
    </div>
</section>
