<section class="hero bg-[url('/backgrounds/hero-background.png')]">
    <div class="hero-container flex section-wrapper">
        <div class="hero-container-text flex-auto w-96 mt-44">
            <h1 class="flex items-center text-5xl lg:text-[64px]  text-white font-bold pb-8">
                Welcome to 
            <img src="/img/petbic-title-logo.svg" class="px-4  w-44 lg:w-56">
            </h1>
            <p class="text-sm lg:text-lg text-white font-bold pb-3 lg:pb-6">
                Discover the key to strengthen your bond with your furry
                companion at Petbic, where total control of your pet's
                information is at your fingertips
            </p>
            <p class="text-sm lg:text-lg text-white font-bold pb-3 lg:pb-6">
                PetBic covers all dimensions of pet care. Make informed
                decisions about nutrition, measures, and overall well-being.
                With Petbic, access data and analysis to enhance the quality of
                life for your furry friend
            </p>
            <p class="text-sm lg:text-lg  text-white font-bold pb-3 lg:pb-6">
                Embark on the PetBic experience and provide your pet with the
                care they deserve.
            </p>
              <button class="bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded border border-gray-200 px-6 mr-4 mt-6">&#127822 App Store</button>
              <button class="bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded border border-gray-200 px-6 mt-6">▶️ Google Play</button>
            
        </div>
      
        <div class="hero-container-image flex-auto w-6 mt-44">
            <img src="/img/mockup-movil-hero.png" alt="mockup hero" />
        </div>
    </div>
</section>
