<section
    class="section-hero
            w-full
            relative
            overflow-hidden
            block
            bg-[url('/backgrounds/wave.png')]
            bg-cover
            bg-no-repeat
            bg-center
            before:content-['']
            before:absolute
            before:inset-0
            before:block
            before:bg-gradient-to-r from-[#097DE0] via-[#4158D0] via-0% to-[#893CD7] to-100%
            before:z-[-5]"
>
    <div
        class="section-hero-container flex flex-col text-justify items-center md:flex-row md:text-left section-wrapper"
    >
        <div
            class="section-hero-container-text flex-col mt-12 md:w-2/3 lg:mt-24 md:flex-row"
        >
            <h1
                class="flex items-center text-2xl pb-2 md:text-4xl lg:text-6xl text-white font-bold md:pb-8"
            >
                Welcome to
                <img
                    src="/img/petbic-title-logo.svg"
                    class="px-2 sm:px-4 w-24 sm:w-36 md:w-44 lg:w-56"
                />
            </h1>
            <p class="text-sm lg:text-lg text-white font-bold pb-3 lg:pb-6">
                Discover the key to strengthen your bond with your furry
                companion at Petbic, where total control of your pet's
                information is at your fingertips
            </p>
            <p class="text-sm lg:text-lg text-white font-bold pb-3 lg:pb-6">
                PetBic covers all dimensions of pet care. Make informed
                decisions about nutrition, measures, and overall well-being.
                With Petbic, access data and analysis to enhance the quality of
                life for your furry friend
            </p>
            <p class="text-sm lg:text-lg text-white font-bold pb-3 lg:pb-6">
                Embark on the PetBic experience and provide your pet with the
                care they deserve.
            </p>
            <div class="flex my-2">
                <button
                    class="py-2 px-3 inline-flex items-center gap-x-2 md:px-8 text-sm text-white font-bold rounded-full bg-gradient-to-r from-[#230DE0] via-[#FFCC70] via-0% to-[#FA709A] to-100%"
                >
                    Join to the waitlist
                </button>
            </div>
        </div>

        <div
            class="section-hero-container-image flex w-52 md:w-2/5 md:mt-44 md:justify-end"
        >
            <img src="/img/mockup-movil-hero.png" alt="mockup hero" />
        </div>
    </div>
</section>
