<section
    class="how-works bg-gradient-to-r from-purple-500 to-indigo-500 h-[40rem]"
>
    <div class="section-wrapper">
        <div
            class="flex flex-col justify-center items-center center text-center"
        >
            <div class="mt-12 lg:mt-16">
                <h2 class="text-7xl text-white">
                    How Petbic works in 3 simple Steps
                </h2>
                <p>Work in progress</p>
            </div>
        </div>
    </div>
</section>
<!-- NOTES: all css are temporal. It's the first iteration-->
