---
import { Image } from "astro:assets";
import whoAre01 from "../assets/who-are-01.png";
import whoAre02 from "../assets/who-are-02.png";
import whoAre03 from "../assets/who-are-03.png";
import whoAre04 from "../assets/who-are-04.png";
---

<section
    id="section-who-we-are"
    class="section-who-we-are flex flex-col justify-center lg:flex-row"
>
    <div class="section-who-we-are-container sm:flex items-center sm:flex-col">
        <div
            class="section-who-we-are-container-images flex flex-row justify-center mb-6 lg:w-1/2"
        >
            <Image
                src={whoAre03}
                alt="Una descripción de mi imagen."
                class="-mt-6 -z-10 h-36 w-auto rounded-lg md:h-60 xl:h-80"
            />
            <Image
                src={whoAre01}
                alt="Una descripción de mi imagen."
                class="mt-8 -ml-14 h-36 w-auto rounded-lg md:h-60 xl:h-80"
            />
        </div>
        <div
            class="section-who-we-are-container-images flex flex-row justify-center lg:w-1/2"
        >
            <Image
                src={whoAre04}
                alt="Una descripción de mi imagen."
                class="-ml-9 h-36 w-auto rounded-lg md:h-60 xl:h-80"
            />
            <Image
                src={whoAre02}
                alt="Una descripción de mi imagen."
                class="-mt-4 h-36 w-auto rounded-lg md:h-60 xl:h-80"
            />
        </div>
    </div>

    <div class="section-who-we-are-container-text lg:w-1/2">
        <div class="mt-12 mb-12 mx-8 xl:mt-16 xl:mx-24">
            <h2 class="text-sm text-gray-500 uppercase lg:text-xl">
                Quiénes somos
            </h2>
            <p class="text-2xl font-bold md:text-4xl mt-4">
                Apasionados por las Mascotas, impulsados por la Tecnología
            </p>
            <p class="text-sm text-gray-500 mt-4 md:text-xl xl:mt-12">
                Guiados por nuestro amor incondicional por los animales y
                nuestra fascinación por la tecnología, en PetBic nos
                comprometemos a proporcionarte una aplicación confiable y fácil
                de usar que refleje nuestro profundo respeto y cariño por los
                animales.
            </p>
            <p class="text-sm text-gray-500 mt-4 md:text-xl xl:mt-8">
                En PetBic, combinamos la calidez del cuidado animal con la
                precisión de la tecnología, brindándote una herramienta integral
                para el bienestar de tus queridos compañeros peludos.
            </p>
            <p class="text-sm text-gray-500 mt-4 md:text-xl xl:mt-8">
                Únete a nosotros en PetBic y descubre cómo la pasión por las
                mascotas y la excelencia tecnológica se unen para transformar la
                forma en que cuidas a tus amigos de cuatro patas.
            </p>
        </div>
    </div>
</section>
