<section class="who-we-are h-[40rem]">
    <div class="section-wrapper">
        <div
            class="flex flex-col justify-center items-center center text-center"
        >
            <div class="mt-12 lg:mt-16">
                <h2 class="text-lg lg:text-xl font-bold">
                   Who we are
                </h2>
                  <p  class="text-lg lg:text-xl font-bold">Passionate about Pets, Drive by Technology</p>
                <p>Work in progress</p>
            </div>
        </div>
    </div>
</section>
<!-- NOTES: all css are temporal. It's the first iteration-->