<section class="section-who-we-are flex flex-col justify-center lg:flex-row">
    <div class="section-who-we-are-container sm:flex items-center sm:flex-col">
        <div
            class="section-who-we-are-container-images flex flex-row justify-center mb-6 lg:w-1/2"
        >
            <img
                class="-mt-6 -z-10 h-36 w-auto rounded-lg md:h-60 xl:h-80"
                src="/img/who-are-03.png"
            />
            <img
                class="mt-8 -ml-14 h-36 w-auto rounded-lg md:h-60 xl:h-80"
                src="/img/who-are-01.png"
            />
        </div>
        <div
            class="section-who-we-are-container-images flex flex-row justify-center lg:w-1/2"
        >
            <img
                class="-ml-9 h-36 w-auto rounded-lg md:h-60 xl:h-80"
                src="/img/who-are-04.png"
            />
            <img
                class="-mt-4 h-36 w-auto rounded-lg md:h-60 xl:h-80"
                src="/img/who-are-02.png"
            />
        </div>
    </div>

    <div class="section-who-we-are-container-text lg:w-1/2">
        <div class="mt-12 mx-8 xl:mt-16 xl:mx-24">
            <h2 class="text-sm text-gray-500 uppercase lg:text-xl">
                Who we are
            </h2>
            <p class="text-2xl font-bold md:text-4xl mt-4">
                Passionate about Pets, Driven by Technology
            </p>
            <p class="text-sm text-gray-500 mt-4 md:text-xl xl:mt-12">
                Guided by our unconditional love for animals and fascination
                with technology, at PetBic, we are committed to providing you
                with a reliable and user-friendly application that reflects our
                deep respect and affection for animals.
            </p>
            <p class="text-sm text-gray-500 mt-4 md:text-xl xl:mt-8">
                At PetBic, we blend the warmth of animal care with the precision
                of technology, giving you a comprehensive tool for the
                well-being of your beloved furry companions.
            </p>
            <p class="text-sm text-gray-500 mt-4 md:text-xl xl:mt-8">
                Join us at PetBic and discover how a passion for pets and
                technological excellence come together to transform the way you
                care for your four-legged friends.
            </p>
        </div>
        <!-- NOTES: all css are temporal. It's the first iteration-->
    </div>
</section>
