---
import "@fontsource/lexend";
import Header from "../components/Header.astro";
import { ScrollObserver } from "astro-scroll-observer";
import Analytics from "../components/Analytics.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ScrollObserver />
		<title>{title}</title>
		<Analytics/>
	</head>
	<body>
		<section
			class="section-header z-10 md:section-header lg:py-16 md:px-2 md:fixed md:w-full md:transition-all"
		>
			<Header />
		</section>
		<slot />
	</body><style is:global>
		.section-wrapper {
			max-width: 1440px;
			margin: auto;
			padding: 0 29px;
		}
		[data-is-top="false"] .section-header {
			padding-top: 0;
		}
	</style>
</html>
<!-- NOTES: all css are temporal. It's the first iteration-->
