---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import { ScrollObserver } from "astro-scroll-observer";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ScrollObserver />
		<title>{title}</title>
	</head>
	<body>
		<section class="section-header py-16 px-2 fixed w-full transition-all">
			<Header />
		</section>
		<slot />
	</body><style is:global>
		.section-wrapper {
			max-width: 1440px;
			margin: auto;
			padding: 0 29px;
		}
		[data-is-top="false"] .section-header {
			padding-top: 0;
		}
	</style>
</html>
<!-- NOTES: all css are temporal. It's the first iteration-->
